# Ignore node_modules
node_modules/

# Ignore environment variable files
.env

.env-ready.txt

firebase-service-account.json

# Ignore log files
*.log

# Ignore other sensitive or temporary files
.DS_Store
